
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    margin-top: 70px;
    margin-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
   padding-left: 15px;
   padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.auth-form {
    margin: 0 auto;
    max-width: 400px;
}

.auth-form-header,
.auth-form-body {
    border-color: rgb(216, 222, 226);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0;
}

.auth-form-header {
    text-align: center;
    text-shadow: none;
}

.auth-form-body {
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-top-color: rgb(216, 222, 226);
    border-top-style: solid;
    border-top-width: 1px;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    font-size: 14px;
    padding: 20px;
}

.label-link {
    font-weight: 600;
    float: right;
    font-size: 12px;
}

.label-link:hover {
    text-decoration: none;
}

nav .container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.navbar-user-menu {
    margin: 0;
    border-radius: 0;
    border-top: none;
    border-right: none;
}

.navbar-user {
    width: 305px;
    padding: 10px;
    padding-bottom: 0;
}

.navbar-user-logout {
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
