<connectionStrings>

  <add name="HADS18-DB"
       providerName="System.Data.SqlClient"
       connectionString="Server=tcp:hads18-tudela.database.windows.net,1433;Initial Catalog=HADS18-Tudela;Persist Security Info=False;User ID={user};Password={password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>

</connectionStrings>
